@{
    ViewData["Title"] = "Products";
}
<!--======= SUB BANNER =========-->
@*<section class="sub-banner">
        <div class="container">
            <div class="position-center-center">
                <h2>Apple-Bee</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Products">Products</a></li>
                    <li>Apple-Bee</li>
                </ul>
            </div>
        </div>
    </section>*@

<!-- Content -->
<div id="content">
    <section class="intro padding-top-100 padding-bottom-100">
        <div class="container">
            <!-- Tittle -->
            <div class="heading-block text-center margin-bottom-80">
                <h2 style="color:#ff6c3a;">Predifast would like to be your IT partner</h2>
                <span>
                    "Apple-Bee" is cloud based web app that provides end to end sulution for your education institution.
                </span>
            </div>
            <!-- What We do -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Tittle -->
                    <div class="heading-block text-left margin-bottom-20">
                        <h2>Apple-Bee : Educational Management System Software </h2>
                        <p>
                            Apple-Bee is all-in-one software to manage all types of educational institutions like schools, colleges, Tuition points, Training centers, etc.
                            It has everything that educational institution will ever need and it supports all your branches in various locations.
                        </p>
                        <p>
                            Parent - Teacher collaboration, attendance, fee management and Accounting module with many other features along with high rich dashboards.
                            Automate everything, generate insightful reports, and make better decisions.
                        </p>
                        <p>
                            Apple-Bee is a web-based, comprehensive, practice and most affordable system designed to help you to complete your tasks and make smart institution with a single click.
                            You can transform your business for the future by enabling the cloud, mobile, social, analytics.
                            Our focus is to digitalize the educational institutions and help our customers achieve sustainable growth through our smart solutions and service offerings.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading-block text-left margin-bottom-20">
                        <h2>Why Apple-Bee Software?</h2>
                        <p>
                            Apple-Bee product supports any kind of educational institutions like Schools, Universities, Colleges, Coaching Academies, Training Centers, Tuition points and their
                            relationships to be defined within a single application or access of Apple-Bee product.
                            Schools or colleges operating in multiple branches can have complete picture each and everything in all the branches.
                        </p>
                        <p>
                            "Apple-Bee" is a Product which is constantly being updated based on data driven by our customers and their feedback
                        </p>
                        <p>
                            Data Privacy - We offer full privacy to your data as we offer role based access control and restriction to their specific Branches only.
                        </p>
                        <p>
                            Internal messaging system - which you can use internally for communications even if you don't have an emailing service or messaging service.
                        </p>
                        <p>
                            <strong> Apple-Bee : High Quality and Low Price</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- List Style -->
                    <ul class="row list-what-we">
                        <li class="col-sm-6">
                            <h6>Academics  </h6>
                            <hr>
                            <p>
                                A simple, efficient and time-saving tool to manage your students' grades and to customize their report cards in a timely manner.
                            </p>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Academic Calender</li>
                                            <li class="list-group-item-info">Create Exam and Post Results</li>
                                            <li class="list-group-item-info">Reports and Dashboards</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Student Attandance</li>
                                            <li class="list-group-item-info">Staff Attandance</li>
                                            <li class="list-group-item-info">Placement Tracking</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-6">
                            <h6> Administration</h6>
                            <hr>
                            <p>
                                A central tool built with a school/college infrastructure in mind to have one stop solution for all their needs including but not limited
                                to Student Admissions, Transport, HR & Payroll for their various employees, Library Services and various other aspects of the institution
                            </p>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Admission Enquiry</li>
                                            <li class="list-group-item-info">Student Admission</li>
                                            <li class="list-group-item-info">Print Admission Form</li>
                                            <li class="list-group-item-info">Staff Profile</li>
                                            <li class="list-group-item-info">Generate Certificates</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Class Enrollment</li>
                                            <li class="list-group-item-info">ID Card Printing</li>
                                            <li class="list-group-item-info">Fee Structure</li>
                                            <li class="list-group-item-info">Fee Collection</li>
                                            <li class="list-group-item-info">Fee Receipt</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Class Time Table</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Teacher Time Table</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-6">
                            <h6>Accounting </h6>
                            <hr>
                            <p>
                                Providing schools with powerful features that help the administrative staff in student invoicing, data entry and financial record keeping.
                            </p>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Accounting Structure</li>
                                            <li class="list-group-item-info">Journal Entry</li>
                                            <li class="list-group-item-info">Asset Tracking</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Profit and Loss Statement</li>
                                            <li class="list-group-item-info">Balance Sheet</li>
                                            <li class="list-group-item-info">Ledger Book</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Income and Expence Dashboard</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Custom Reports</li>
                                            <li class="list-group-item-info"></li>
                                            <li class="list-group-item-info"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-6">
                            <h6>Communication</h6>
                            <hr>
                            <p>
                                Bridging the gap between Teachers and Parents by providing them a platform for open and regular communication via the messenger tool!
                            </p>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Circular/Notice Board</li>
                                            <li class="list-group-item-info">SMS Notification</li>
                                            <li class="list-group-item-info">Email Notifications</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-group">
                                            <li class="list-group-item-info">Parent Grievance</li>
                                            <li class="list-group-item-info">Feedback</li>
                                            <li class="list-group-item-info">Social Networking Share</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial red-bg padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="heading-block white-text text-center">
                <h2>Apple-Bee Infrastructure</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

                    <table class="table-responsive table white-text">
                        <tr>
                            <td><i class="fa fa-database fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Daily data backup of transactions/database/Application</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-globe fa-3x" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Geo Availability</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-lock fa-4x" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;SSL enabled</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-user-secret fa-3x" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Impossible to track by Hackers due to firewall exceptions</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-eye fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Continuous monitoring the Application by PrediFast Technologies</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    @*
        <!-- Price table -->
        <section class="pricing-table light-gray-bg padding-top-100 padding-bottom-100">
            <div class="container">
                <!-- Tittle -->
                <div class="heading-block text-center margin-bottom-80">
                    <h2>Vertex Analytics would like to be your IT partner</h2>
                    <span>Vertex Analytics is a full service engineering and consulting firm whose mission is to provide creative and innovative solutions to its customers.</span>
                </div>
                <div class="row">
                    <!-- Price -->
                    <div class="col-md-4">
                        <!-- Icon -->
                        <div class="plan-icon"><img src="../images/plan-icon-1.png" alt=" "></div>

                        <!-- Plan  -->
                        <div class="pricing-head">
                            <h4>Basic Plan</h4>
                            <span class="curency">&#8377;</span> <span class="amount">25<span>.99</span></span> <span class="month">/ year /student</span>
                        </div>

                        <!-- Plean Detail -->
                        <div class="price-in">
                            <ul class="text-center">
                                <li>25 Analytics Campaigns</li>
                                <li> 1,900 Keywords</li>
                                <li> 1,250,000 Crawled Pages</li>
                                <li> Includes Branded Reports</li>
                                <li> 50 Social Accounts</li>
                            </ul>
                            <a href="/Products/AppleBee/Purchase/basic" class="btn btn-orange">PURCHACE</a>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="col-md-4">
                        <!-- Icon -->
                        <div class="plan-icon orange-bg"><img src="../images/plan-icon-2.png" alt=" "></div>

                        <!-- Plan  -->
                        <div class="pricing-head orange-bg">
                            <h4>Advanced Plan</h4>
                            <span class="curency">&#8377;</span> <span class="amount">55<span>.99</span></span> <span class="month">/ year /student</span>
                        </div>

                        <!-- Plean Detail -->
                        <div class="price-in">
                            <ul class="text-center">
                                <li>25 Analytics Campaigns</li>
                                <li> 1,900 Keywords</li>
                                <li> 1,250,000 Crawled Pages</li>
                                <li> Includes Branded Reports</li>
                                <li> 50 Social Accounts</li>
                            </ul>
                            <a href="/Products/AppleBee/Purchase/Advanced" class="btn btn-orange">PURCHACE</a>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="col-md-4">
                        <!-- Icon -->
                        <div class="plan-icon"><img src="../images/plan-icon-3.png" alt=" "></div>

                        <!-- Plan  -->
                        <div class="pricing-head">
                            <h4>Premium Plan</h4>
                            <span class="curency">&#8377;</span> <span class="amount">99<span>.99</span></span> <span class="month">/ year /student</span>
                        </div>

                        <!-- Plean Detail -->
                        <div class="price-in">
                            <ul class="text-center">
                                <li>25 Analytics Campaigns</li>
                                <li> 1,900 Keywords</li>
                                <li> 1,250,000 Crawled Pages</li>
                                <li> Includes Branded Reports</li>
                                <li> 50 Social Accounts</li>
                            </ul>
                            <a href="/Products/AppleBee/Purchase/Premium" class="btn btn-orange">PURCHACE</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    *@
</div>
<!-- End Content -->