@{
    ViewData["Title"] = "About";
}
  <!--======= SUB BANNER =========-->
@*<section class="sub-banner">
    <div class="container">
        <div class="position-center-center">
            <h2>About</h2>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>About</li>
            </ul>
        </div>
    </div>
</section>*@

<!-- Content -->
<div id="content">

    <section class="intro padding-top-100 padding-bottom-100">
        <div class="container">
            <!-- Tittle -->
            <div class="heading-block text-center margin-bottom-80">
                <h2>What We Do</h2>
                <span>Predifast Technologies Pvt. Ltd. is an information technology service provider dedicated to serving educational institutions, small and medium sized businesses and organizations.</span>
            </div>
            <!-- What We do -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Tittle -->
                    <div class="heading-block text-left margin-bottom-20">
                        <h2>About Us</h2>
                        <p>Predifast Technologies Pvt. Ltd. offers Cloud based applications, mobile applications, IT consulting and IT Services across various industries worldwide. 
                        </p>
                        <p>
                            It offers business intelligence to enable organizations to manage data with reporting and analytics, financial management to provide a solution, 
                            which helps to gain visibility into business-critical information, and strengthen financial control with accounting and reporting capabilities. 
                        </p>
                        <p>
                            We are offering various products and a one stop cloud solution system to run your organization efficiently.
                            Predifast Technologies is based in Hyderabad, India with additional offices in Guntur and Vijayawada, India.
                        </p>
                    </div>
                    <!-- List Style -->
                    <ul class="row list-what-we">
                        <li class="col-sm-12">
                            <h6> Business Philosophy </h6>
                            <hr>
                            <p>Predifast Technologies mission is to provide a full range of high quality solutions and the best support at affordable prices. At Predifast Technologies, we don't have clients, we have partnerships</p>
                        </li>
                        <li class="col-sm-6">
                            <h6>1. Partnership </h6>
                            <hr>
                            <p>Predifast Technologies will become your technology partner. As your needs change, Predifast Technologies will be there to provide technical advice, expertise and solutions every step of the way.</p>
                        </li>
                        <li class="col-sm-6">
                            <h6>2. Quality </h6>
                            <hr>
                            <p>Predifast Technologies engineers have both extensive experience and professional certification. By combining the technical skill of its engineers, quality products, the proper technology solution and a truly caring attitude, Predifast Technologies delivers the right solution and exceptional service ... at the right price.</p>
                        </li>
                        <li class="col-sm-6">
                            <h6>3. Responsibility </h6>
                            <hr>
                            <p>Predifast Technologies takes responsibility for every aspect of the technology solution. Whether it is a software, hardware or a service issue, Predifast Technologies will find the solution. There is never any finger pointing, only a positive let's get it done can-do attitude</p>
                        </li>
                        <li class="col-sm-6">
                            <h6>4. Responsiveness  </h6>
                            <hr>
                            <p>Predifast Technologies engineers are available 24 hours a day to respond to your needs. You can always contact us by phone or online. We understand that you can't control when the system may crash or problems may occur. For this reason, we are available evenings and weekends, providing you with the emergency support you need when you need it.</p>
                        </li>

                    </ul>
                </div>
                <!-- Image -->
                @*<div class="col-md-6"> <img class="img-responsive" src="~/images/process.jpg" alt=""> </div>*@
            </div>
        </div>
    </section>
</div>
<!-- End Content --> 
