        <!--======= SUB BANNER =========-->
@*<section class="sub-banner">
    <div class="container">
        <div class="position-center-center">
            <h2>Services</h2>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>*@
<!-- Content -->
<div id="content">
    <section class="intro padding-top-100 padding-bottom-100">
        <div class="container">
            <!-- Tittle -->
            <div class="heading-block text-center margin-bottom-80">
                <h2>Predifast Technologies for your Busines</h2>
                <span>Business decision makers no longer have time to request and wait for data. They need the information as it happens, in real-time.</span>
            </div>
            <!-- What We do -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Tittle -->
                    <div class="heading-block text-left margin-bottom-20">
                        <h2>IT Solutions</h2>
                        <p>
                            Our solutions provide business intelligence for
                            everyone across an organization, from the C-Level, to finance, to IT, to Sales and Marketing, to Operations.
                        </p>
                        <h5 style="font-family:'Alegreya Sans'">Technologies</h5>
                        <p>
                            <ul>
                                <li>1. DOT NET</li>
                                <li>2. Asp.Net MVC</li>
                                <li>2. Mobile Applications</li>
                                <li>3. Web Desigining</li>
                                <li>4. Training and Internship</li>
                            </ul>
                        </p>
                        <h5 style="font-family:'Alegreya Sans'">Platforms can be offered in one or more of the following form factors</h5>
                        <p>
                            <ul>
                                <li>1. Multi-tenant SaaS offering (Public cloud)</li>
                                <li>2. Predifast managed service in an Predifast data center, or in a Azure cloud (Private cloud or VPC)</li>
                                <li>3. Software-only or as a software / hardware converged appliance (On premise)</li>
                            </ul>
                        </p>
                        <h5 style="font-family:'Alegreya Sans'">Pricing</h5>
                        <p>
                            <ul>
                                <li>1. Limited time test drive at no cost</li>
                                <li>2. Tiered subscription pricing based on one or more usage metrics - number of users, number of nodes, transaction volume, volume of data, etc.</li>
                            </ul>
                        </p>
                    </div>
                    <!-- List Style -->
                    <ul class="row list-what-we">
                        <li class="col-sm-12">
                            <h6>Training & Internship</h6>
                            <hr>
                            <p>
                                Predifast Technologies attracts talent from top academic institutions. The Training and Internship program attracts a mix of students from computer Science background.
                            </p>
                            <p>
                                Predifast is considered as the Best software training institute in Hyderabad. PrediFast is known for its high intensity MS.NET training classes. Over the years we have developed capabilities in various other technologies tracks like Javascript, Jquery, AngularJS, C and Testing Tools
                            </p>
                            <dl>
                                <dd>1. Classroom Training</dd>
                                <dd>2. Online  Training</dd>
                                <dd>3. Corporate  Training</dd>
                            </dl>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../images/ms.net-icon.png" class="img-thumbnail">
                                </div>
                                <div class="col-md-3">
                                    <img src="../images/jquery.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-3">
                                    <img src="../images/c-language.png" class="img-thumbnail">
                                </div>
                                <div class="col-md-3">
                                    <img src="../images/testting-tools.png" class="img-thumbnail">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Image -->
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>
</div>
<!-- End Content -->
